.shake {
    /* Start the shake animation and make the animation last for 0.5 seconds */
    animation: Shake 0.3s ;
  }
  
  @keyframes Shake {
    0% { transform: rotate(0deg); }
    10% { transform: rotate(-1deg); }
    20% { transform: rotate(0deg); }
    30% { transform: rotate(1deg); }
    40% { transform: rotate(0deg); }
    50% { transform: rotate(-1deg); }
    60% { transform: rotate(0deg); }
    70% { transform: rotate(1deg); }
    80% { transform: rotate(0deg); }
    90% { transform: rotate(-1deg); }
    100% { transform: rotate(0deg); }
  }