@keyframes Grow {
    0% { 
        transform: scale(0);
    }
    70% {
        transform: scale(1.0);
    }
    100% {
        transform: scale(1);
    }
}

.grow {
    animation: Grow .4s;
    animation-fill-mode: both;
}

@keyframes FadeOut {
    0% { 
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

.fade-out {
    animation: FadeOut .4s;
    animation-fill-mode: both;
}